<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
">
    Confirma tu Cuenta
</h1>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Hola, estas a un paso de crear una comunidad en Meeti, solo debes confirmar tu cuenta en el 
    siguente enlace:
</p>
<a href="<%= url %>" style="
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1rem;
        background-color: #00c897;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
    ">
    Confirmar Cuenta
</a>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Sino puede acceder a este enlace, vísita: <%= url %> 
</p>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Si no solicitaste este email puedes ignoralo
</p>